<h2 class="md-title">Join {{event.title}}</h2>
<md-content layout-padding class="autoScroll" id="newEventContent">
    <form name="newEvent">

        <md-input-container class="md-icon-float md-block">
            <label>Your Name</label>
            <md-icon md-svg-src="img/icons/ic_face_24px.svg" class="name"></md-icon>
            <input ng-model="guest.name" type="text" ng-required="true">
        </md-input-container>

        <md-input-container class="md-icon-float md-block" >
            <label>Contribution</label>
            <md-icon md-svg-src="img/icons/ic_group_24px.svg" class="name"></md-icon>
            <md-select ng-model="guest.contribution" style="margin-left: 40px;">
                <md-option ng-repeat="contribution in event.freeContributions" value="{{contribution}}">
                    {{contribution}}
                </md-option>
            </md-select>
        </md-input-container>

        <md-input-container class="md-icon-float md-block">
            <label>Comment</label>
            <md-icon md-svg-src="img/icons/ic_face_24px.svg" class="name"></md-icon>
            <input ng-model="guest.comment" type="text">
        </md-input-container>
    </form>
</md-content>