<div flex layout="column" tabIndex="-1" role="main">
    <md-toolbar class="md-whiteframe-z2">
        <div class="md-toolbar-tools">
            <md-button aria-label="Go Back" ng-hide="isStartPage" ng-click="goBack()">
                <md-icon md-svg-src="img/icons/ic_arrow_back_24px.svg" class="name"></md-icon>
            </md-button>
            <h1 class="md-flex">{{pageTitle}}</h1>
        </div>
    </md-toolbar>

    <md-content flex layout-padding id="content">
        <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a
                href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div ng-view></div>
    </md-content>

</div>