<h2 class="md-title">Overview</h2>

<md-list>
    <md-list-item>
        <h3 class="md-title">Event Name</h3>
        <img class="md-avatar" ng-src="img/icons/ic_local_bar_24px.svg">
        <span>{{event.name}}</span>
    </md-list-item>
    <md-list-item>
        <h3 class="md-title">Target Group</h3>
        <!--<img class="md-avatar" ng-src="img/icons/sign-in.svg">-->
        <span>{{event.targetGroup}}</span>
    </md-list-item>
    <md-list-item>
        <h3 class="md-title">Description</h3>
        <img class="md-avatar" ng-src="img/icons/ic_group_24px.svg">
        <span>{{event.description}}</span>
    </md-list-item>
    <md-list-item>
        <h3 class="md-title">Maximum Amount Of Guests</h3>
        <!--<img class="md-avatar" ng-src="img/icons/users.svg">-->
        <span>{{event.maximalAmountOfGuests}}</span>
    </md-list-item>
    <md-list-item>
        <h3 class="md-title">Start Time</h3>
        <span>{{event.times.begin | date:'dd.M. H:mm' }}</span>
    </md-list-item>
    <md-list-item>
        <h3 class="md-title">End Time</h3>
        <span>{{event.times.end | date:'dd.M. H:mm' }}</span>
    </md-list-item>
</md-list>

<h3 class="md-title">Contributions</h3>
<md-list>
    <md-list-item ng-repeat="contribution in event.contributions">
        <p>{{contribution}}</p>
    </md-list-item>
</md-list>

<h3 class="md-title">Guests</h3>
<md-list>
    <md-list-item class="md-3-line" ng-repeat="guest in event.guests">
        <div class="md-list-item-text" ng-class="{'guestCanceled': guest.canceled}" layout="column">
            <h3>{{ guest.name }}</h3>
            <h4>{{ guest.contribution }}</h4>

            <p>{{ guest.comment }}</p>

            <div>
                <md-button class="pull-left" href="#/events/{{event.id}}/guests/{{guest.id}}/edit" ng-hide="guest.canceled == true">edit
                </md-button>
                <md-button ng-click="cancelGuest(guest)" ng-hide="guest.canceled == true">cancel</md-button>
            </div>
        </div>
    </md-list-item>
</md-list>

<h2 class="md-title">Event Address</h2>

<div layout="column">
    <span>{{event.location.name}}</span>
    <span>{{event.location.street}}</span>
    <span>{{event.location.plz}}</span>
</div>
